@import '../styles/mixins';

.timer-length {
  @include centered;

  button,
  span {
    color: hsla(200, 60%, 60%, 1);
  }

  > div {
    @include centered(row);
  }

  .label {
    display: block;
    font-size: 1rem;
    padding: 0.25rem;
  }

  .value {
    font-size: 1.5rem;
    font-weight: 900;
    min-width: 3rem;
    text-align: center;
    pointer-events: none;
    touch-action: none;
    color: hsla(200, 80%, 30%, 1);
  }
}
