@import '../styles/mixins';

.timer-length {
  @include centered;

  > div {
    @include centered(row);
  }

  .label {
    display: block;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 1rem;
  }

  .value {
    font-size: 2rem;
    min-width: 3rem;
    text-align: center;
    pointer-events: none;
    touch-action: none;
  }

  button {
    font-size: 1.5rem;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
    padding: 0.3rem;
    background: transparent;
    transition: background 0.5s;
    border: none;

    &:not(:hover):not(:disabled) {
      color: initial !important;
    }

    &:not(:disabled) {
      &:hover,
      &:focus {
        color: rgba(0, 0, 0, 0.4);
        cursor: pointer;
      }

      &:active {
        top: 0.1rem;
      }
    }
  }
}
